html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

body {
  background: #0f1424;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  color: white;
  text-align: center;
}

.pageWrapper {
  max-width: 375px;
  margin: 2rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

li {
  list-style: none;
  font-size: 12px;
  color: #6f76c8;
  cursor: pointer;
}

li:hover {
  color: white;
}

h2 {
  font-weight: 300;
  font-size: 12px;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
          clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.headWrapper img {
  width: 45px;
  height: 45px;
  border: 2px solid white;
  border-radius: 50%;
}

.current {
  font-size: 23px;
}

.profileName p {
  font-size: 10px;
}

.profileName {
  padding-top: 6px;
  text-align: left;
}

.profileName h2 {
  font-size: 18px;
}

div p:nth-child(2) {
  -webkit-margin-before: 9px;
          margin-block-start: 9px;
  font-size: 10px;
  color: #6f76c8;
}

.headWrapper {
  height: 100%;
  background-color: #1c1f4a;
  border-radius: 10px;
}

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  background-color: #4f4fd8;
  border-radius: 10px;
  padding: 1rem;
}

.menuList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 1rem;
}

#weeklyTrack {
  color: white;
}

.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.duration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-margin-before: 5px;
          margin-block-start: 5px;
}

.play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.study {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.exercise {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.selfcare {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.workSection {
  height: 100%;
  background-color: #ff8c66;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-image: url(/images/icon-work.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-position-x: 95%;
  background-position-y: -35%;
}

.workHours {
  width: 100%;
  margin-top: 2rem;
  background-color: #1c1f4a;
  padding: 1rem;
  border-radius: 10px;
}

.playSection {
  height: 100%;
  background-color: #56c2e6;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-image: url(/images/icon-play.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-position-x: 95%;
  background-position-y: -35%;
}

.playHours {
  width: 100%;
  margin-top: 2rem;
  background-color: #1c1f4a;
  padding: 1rem;
  border-radius: 10px;
}

.studySection {
  height: 100%;
  background-color: #ff5c7c;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-image: url(/images/icon-study.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-position-x: 95%;
  background-position-y: -35%;
}

.studyHours {
  width: 100%;
  margin-top: 2rem;
  background-color: #1c1f4a;
  padding: 1rem;
  border-radius: 10px;
}

.exerciseSection {
  height: 100%;
  background-color: #4acf81;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-image: url(/images/icon-exercise.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-position-x: 95%;
  background-position-y: -7%;
}

.exerciseHours {
  width: 100%;
  margin-top: 2rem;
  background-color: #1c1f4a;
  padding: 1rem;
  border-radius: 10px;
}

.socialSection {
  height: 100%;
  background-color: #7536d3;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-image: url(/images/icon-social.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-position-x: 95%;
  background-position-y: -75%;
}

.socialHours {
  width: 100%;
  margin-top: 2rem;
  background-color: #1c1f4a;
  padding: 1rem;
  border-radius: 10px;
}

.selfcareSection {
  height: 100%;
  background-color: #f1c65b;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-image: url(/images/icon-self-care.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-position-x: 95%;
  background-position-y: -35%;
}

.selfcareHours {
  width: 100%;
  margin-top: 2rem;
  background-color: #1c1f4a;
  padding: 1rem;
  border-radius: 10px;
}

section img {
  width: 15px;
  height: 3px;
}

.headWrapper {
  grid-area: headWrapper;
}

.workSection {
  grid-area: workSection;
}

.playSection {
  grid-area: playSection;
}

.studySection {
  grid-area: studySection;
}

.exerciseSection {
  grid-area: exerciseSection;
}

.socialSection {
  grid-area: socialSection;
}

.selfcareSection {
  grid-area: selfcareSection;
}

@media (min-width: 460px) {
  body {
    text-align: start;
    font-family: "Rubik", sans-serif;
  }
  .pageWrapper {
    max-width: 1200px;
    margin: 7rem auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: "headWrapper workSection playSection studySection"
 "headWrapper exerciseSection socialSection selfcareSection";
    gap: 1.2rem;
  }
  .headWrapper {
    height: 100%;
    background-color: #1c1f4a;
    border-radius: 10px;
  }
  .profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-radius: 10px;
    padding-top: 2rem;
    padding-bottom: 5rem;
  }
  .headWrapper img {
    width: 75px;
    height: 75px;
  }
  .profileName h2 {
    font-size: 2.5rem;
  }
  li {
    font-size: 14px;
  }
  section h2 {
    margin-bottom: 2rem;
    font-size: 16px;
  }
  .menuList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 1rem;
    padding: 1.5rem 1rem;
  }
  .cards {
    padding: 1.5rem 1rem;
  }
  .duration {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .current {
    font-size: 2.5rem;
  }
  .workSection {
    background-position-x: 95%;
    background-position-y: -6%;
  }
  .playSection {
    background-position-x: 95%;
    background-position-y: -6%;
  }
  .studySection {
    background-position-x: 95%;
    background-position-y: -6%;
  }
  .exerciseSection {
    background-position-x: 95%;
    background-position-y: -1%;
  }
  .socialSection {
    background-position-x: 95%;
    background-position-y: -3%;
  }
  .selfcareSection {
    background-position-x: 95%;
    background-position-y: -6%;
  }
  div p:nth-child(2) {
    font-size: 12px;
    color: #6f76c8;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding-bottom: 1.5rem;
}

.attribution a {
  color: #3e52a3;
}
/*# sourceMappingURL=style.css.map */
